.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    position: absolute;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0, -50%);
}
@media only screen and (min-width: 720px) {
    .carousel-caption h2 {
        font-weight: 900;
    }
    
    .carousel-caption p {
        font-size: 25px;
    }
  }

  @media only screen and (max-width: 720px) {
    .carousel-caption h2 {
        font-weight: 900;
    }
    
    .carousel-caption p {
        font-size: 25px;
    }
  }

  }