.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    top: 35%;
    /* position: absolute;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0, -50%); */
}

.carousel-caption h2 {
    font-weight: 900;
    font-size: 45px;
}

.carousel-caption p {
    font-size: 25px;
}